@import "tailwindcss";

/* extend: {
  colors: {
    'primary': '#00ffff',
  },
} */
body {
  background-image: url(https://web.forestdev.work/chiayi/opencall/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@keyframes bounce2 {
  70% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-25%);
  }
  90% {
    transform: translateX(0%);
  }
  95% {
    transform: translateX(-7%);
  }
  100% {
    transform: translateX(0);
  }
}

.bounce {
  animation: bounce2 1s ease infinite;
}
